host vmmgw
    hostname 10.49.224.216
    user root
	IdentityFile ~/.ssh/id_rsa
host node0
	User ubuntu
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W 172.16.10.10:22 vmmgw
host node1
	User ubuntu
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W 172.16.11.10:22 vmmgw
host node2
	User ubuntu
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W 172.16.12.10:22 vmmgw
host node3
	User ubuntu
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W 172.16.13.10:22 vmmgw
host node4
	User ubuntu
	IdentityFile ~/.ssh/id_rsa
	ProxyCommand ssh -W 172.16.14.10:22 vmmgw
